{% extends 'layout.html' %}

{% block body %}
<h2>About</h2>
<p>I'm a father of two amazing teenage daughters, husband to an amazing wife, a nearly year-round cyclist and occasional snowboarder.</p>
<p>Military history and heavy boardgames are also interests.</p>
   <p>My professional experience started in libraries, where I worked for many years before moving into IT. I've been a software tester for the last several years and I enjoy finding fat, juicy bugs. </p>

   <p>I recently completely a <a href="https://www.pce.uw.edu/certificates/data-visualization" target="_blank"> Certificate in Data Visualization</li></a> at the University of Washington. My current focus is building out my dataviz portfolio and studying Python</p>
   <p>My links:<p/>
   <ul style="list-style-type:circle">
      <li><a href="https://www.linkedin.com/in/jeremy-keeton/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/jpkeeton" target="_blank"> GitHub </a></li>
      <li><a href="https://public.tableau.com/profile/jpkeeton#!/" target="_blank">Tableau Public</a></li>
      <li><a href="https://twitter.com/JeremyPK" target="_blank">Twitter</a></li>
    </ul>


{% endblock %}