{% extends 'layout.html' %}

{% block body %}
<h2>About</h2>
<p>I'm a father of two amazing teenage daughters, husband to an amazing wife, a mostly year-round bike commuter and not-enough snowboarder to name a couple of life-points?. </p>
<p>I like military history and heavy boardgames.</p>
   <p>Professionally, my background is in libraries, where I worked for many years before moving into the information technology side of things. I've been a software tester now for the majority of my career and I enjoy finding fat juicy bugs. </p>
<p>My most recent career focus is in Data Science. I found this realm easy to be interested in, as my have a closely related master's degree in Information Science</p>
   <p>I recently completely a <a href="https://www.pce.uw.edu/certificates/data-visualization" target="_blank"> Certificate in Data Visualization</li></a> at the University of Washington.</p>
   <p>Follow these links to learn more:<p/>
   <ul style="list-style-type:circle">
      <li><a href="https://www.linkedin.com/in/jeremy-keeton/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/jpkeeton" target="_blank"> GitHub </a></li>
      <li><a href="https://public.tableau.com/profile/jpkeeton#!/" target="_blank">Tableau Public</a></li>
      <li><a href="https://twitter.com/JeremyPK" target="_blank">Twitter</a></li>
    </ul>


{% endblock %}