{% extends 'layout.html' %}

{% block body %}
    <h2>Data Science</h2>
   <p>Upon completion of my Data Visualization Certificate, I started to explore data science as a career focus.
   So far this year, I've been reading a few books, utilizing the DataCamp Python Programmer course as well as other data science and coding resources.</p>
    <ul style="list-style-type:disc">
       <li></li>
       <li></li>
       <li></li>
       <li></li>
        <ul>
            <li>1. Testing Shows Presence of Defects</li>

        </ul>
    </ul>



{% endblock %}