{% extends 'layout.html' %}

{% block body %}
    <h2>Projects</h2>
   <p>Here are some active projects</p>
  <ul style="list-style-type:circle">
      <!--<li><img src="/images/BugMetrics1.JPG"></li>-->

<!--try this one https://www.youtube.com/watch?v=Y2fMCxLz6wM
with the source code linked in the description-->
<!--default endpoint or route called static, so create a folder static-->
      <!--images/BugMetrics1.JPG-->
      <!--C:\Users\jkeeton\PycharmProjects\Flask2018.1\static\BugMetrics1.jpg-->
    </ul>




{% endblock %}