{% extends 'layout.html' %}

{% block body %}
    <h2>Active Projects</h2>
   <p>Part of my Python studies focus on visualization. Here is a recent Tableau/Matplotlib comparison I was working on.</p>
  <!--<ul style="list-style-type:circle">-->
<!--<img src="static/images/BugMetrics1.JPG" alt="Tableau and Matplotlib Bug Metrics" width="50%" height="auto">-->



<img src="static/images/BugMetrics2.JPG" alt="Tableau and Matplotlib Bug Metrics" width="50%" height="auto">




    </ul>




{% endblock %}