{% extends 'layout.html' %}

{% block body %}
    <h2>Active Studies</h2>
        <ul style="list-style-type:disc">
        <li><a href="https://www.datacamp.com/tracks/python-programmer" target="_blank">DataCamp - Python Developer</a></li>
            <ul> Current progress = 43%</ul>
        <li><a href="https://www.udemy.com/the-data-science-course-complete-data-science-bootcamp/" target="_blank">Udemy - Data Science Bootcamp</a></li>
            <ul> Current progress = 6%</ul>
        <li>Various Data Science and Statistics books, primarily from O'Reilly</li>
        <li></li></ul>
        <h2>Active Projects</h2>
   <p>My Python studies center partly on data visualization. I've included some recent examples here.</p>
  <!--<ul style="list-style-type:circle">-->
<!--<img src="static/images/BugMetrics1.JPG" alt="Tableau and Matplotlib Bug Metrics" width="50%" height="auto">-->



<!--<img src="static/images/BugMetrics2.JPG" alt="Tableau and Matplotlib Bug Metrics" width="50%" height="auto">-->
<!--need more images here and their code-->
<!--<img src="static/images/BugMetrics2.JPG" alt="Tableau and Matplotlib Bug Metrics" width="50%" height="auto">-->

</ul>


{% endblock %}