{% extends 'layout.html' %}

{% block body %}
    <h2>R&#0233sum&#0233</h2>
<P>I'll be putting my resume up here, for now go to <a href="https://www.linkedin.com/in/jeremy-keeton/" target="_blank"> LinkedIn.</a>
<!--0233 for the es, and &#0233; to get it in-->
<!--<img src="/static/images/JeremyKeeton_Resume.pdf" alt="Jeremy Keeton Resume" width="50%" height="auto">-->
<!--<img src="/static/images/BugMetrics1.JPG" alt="Tableau and Matplotlib Bug Metrics" width="50%" height="auto">-->




{% endblock %}