{% extends 'layout.html' %}

{% block body %}
    <h2>Testing Stuff</h2>
   <p>I have eight years of software testing experience. On this page I'll outline some best practices and testing heuristics I've used to great effect.</p>
    <ul style="list-style-type:disc">
        <!--not sure about the bulleting here, which direction to go? -->
        <!--not sure about the bulleting here, which direction to go? -->
        <!-- source: http://softwaretestingfundamentals.com/test-plan/-->
       <li>Test Plan Elements</li>
        <ul>1. Intro</ul>
        <ul>2. Features to be tested</ul>
        <ul>3. Features not to be tested</ul>
        <ul>4. Deliverables</ul>
        <ul>5. Approach</ul>
        <ul>6. Pass/Fail Criteria</ul>
        <ul>7. Environment</ul>
        <ul>8. Schedule</ul>
        <ul>9. Risks</ul>
        <ul>10. Approvals</ul>
       <li>Test Case Elements</li>
          <ul>.... </ul>
          <ul>.... </ul>
          <ul>.... </ul>
          <ul>.... </ul>
          <ul>.... </ul>
       <li>Bug Elements</li>
          <ul>1. Build</ul>
          <ul>2. Environment</ul>
          <ul>3. Repro Steps</ul>
          <ul>4. Actual/Expected Results</ul>
          <ul>5. Workaround</ul>
          <ul>.... </ul>
       <li>Seven Testing Principles</li>
        <ul>
            <li>1. Testing Shows Presence of Defects</li>
            <li>2. Exhaustive Testing is Impossible</li>
            <li>4. Defect Clustering</li>
            <li>5. Pesticide Paradox</li>
            <li>6. Testing is Context Dependent</li>
            <li>7. Absence of Errors Fallacy</li>
        </ul>
         <li>Test Case Design Strategies</li>
        <ul>
            <li>1. Boundary-Value Analysis</li>
            <li>2. Equivalence Partitioning</li>
            <li>3. Decision Table Testing</li>
            <li>4. State Transition Testing</li>
            <li>5. Use Case Testing</li>
            <!--https://www.invensis.net/blog/it/software-test-design-techniques-static-and-dynamic-testing/-->
            <!--https://www.guru99.com/equivalence-partitioning-boundary-value-analysis.html-->
           </ul>



<li>A few Test Heuristics
<ul>
    <li>Interruptions</li>
        <ul>
            <li>log off, shut down, reboot, kill process, disconnect, sleep/hybernate, timeout, cancel</li>
        </ul>
    <li>Starvation</li>
        <ul>
        <li>cpu, memory, network, disk</li>
        <li>Any/all at max capacity?</li>
        </ul>
    <li>Position</li>
        <ul>
            <li>beginning, middle, end</li>
        </ul>
    <li>Selection</li>
        <ul>
            <li>some, none, all</li>
        </ul>


</ul>
</li>

</ul>
</ul>

    </ul>


{% endblock %}