{% extends 'layout.html' %}

{% block body %}
    <h2>Testing Stuff</h2>
   <p>I have eight years of software testing experience. On this page I'll outline some best practices and testing heuristics I've used to great effect.</p>
    <ul style="list-style-type:disc">
       <li>Test Plan Elements</li>
       <li>Test Case Elements</li>
       <li>Bug Elements</li>
       <li>Seven Testing Principles</li>
        <ul>
            <li>1. Testing Shows Presence of Defects</li>
            <li>2. Exhaustive Testing is Impossible</li>
            <li>3. Early Testing</li>
            <li>4. Defect Clustering</li>
            <li>5. Pesticide Paradox</li>
            <li>6. Testing is Context Dependent</li>
            <li>7. Absence of Errors Fallacy</li>
        </ul>
         <li>Test Case Design Strategies</li>
        <ul>
            <li>Boundary-Value Analysis</li>
            <li>Equivalence Partitioning</li>
            <li>Decision Table Testing</li>
            <li>State Transition Testing</li>
            <li>Use Case Testing</li>
            <!--https://www.invensis.net/blog/it/software-test-design-techniques-static-and-dynamic-testing/-->
            <!--https://www.guru99.com/equivalence-partitioning-boundary-value-analysis.html-->
           </ul>
       <li>A few Test Heuristics</li>
        <ul>
            <li>interruptions</li>
                <ul>log off, shut down, reboot, kill process, disconnect, sleep/hybernate, timeout, cancel</ul>
            <li>starvation</li>
                <ul>cpu, memory, network, disk</ul>
                <ul>any/all at max capacity?</ul>
            <li>position</li>
                <ul>beginning, middle, end</ul>
            <li>selection</li>
                <ul>some, none, all</ul>
            <li>configurations</li>
                <ul> screen resolution, network speed, latency, signal strength, etcs</ul>
            <li>multi-user</li>
        </ul>




</ul>

    </ul>




{% endblock %}